body {
    display: flex;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
    background-color: 0D1117;
    color: F6E8DD;
    justify-content: center;
    align-items: center;
    height: auto;
    text-align: center;
}
a{
    color: F6E8DD;
    text-decoration: none;
    font-weight: bold;
}
#footer {
  background-color: #f3e5f5;
  padding: 20px;
}
