body {
    display: flex;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
    background-color: 0D1117;
    color: F6E8DD;
    justify-content: center;
    align-items: center;
    height: auto;
    text-align: center;
}
a{
    color: F6E8DD;
    text-decoration: none;
    font-weight: bold;
}
#footer {
    background-color: #f3e5f5;
    padding: 20px;
}
.navbar {
    display: flex;
    background_color: 0F1117;
    padding: 10;
    align-item: center;
}
.site-name {
    font-size: 24px;
    margin-right: 20px;
    padding: 5px 15px;
    color: F6E8DD;
}

